@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kwik-E-Mart</h1>
    <br />
    <br />
    <div>
        <button class="btn-light"><a class="btn" asp-area="" asp-controller="Shop" asp-action="Locations">Choose a location near you</a></button>
        <button class="btn-light"><a class="btn" asp-area="" asp-controller="Account" asp-action="Customers">List of all Customers</a></button>
    </div>
</div>
